@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400");

:root {
  --primary-color: #6880ff;
  --primary-color-hover: #7c91ff;

  --black: #000000;
  --white: #ffffff;

  --link-color: #7b61ff;
  --link-color-hover: #7c91ff;

  --title-1-size: 3rem;
  --title-2-size: 2.5rem;
  --title-3-size: 1.375rem;
  --label-size: 0.875rem;
  --link-size: 1rem;
  --paragraph-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  background-color: var(--black);
  color: var(--white);
}
