.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  padding: 3.25rem 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--title-2-size);
  font-weight: 800;
  flex: none;
  margin-bottom: 1.25rem;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
