.techs {
  display: flex;
  flex-direction: column;
  margin-top: 6.25rem;
}

.title {
  font-size: var(--title-2-size);
  font-weight: 800;
  flex: none;
  margin-bottom: 1.75rem;
}

.techsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
